/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   页面的公共样式部分start
   ========================================================================== */
/*
/*
 * margin:0;padding:0;
 */
body,
ul,
li,
p,
h2{
    margin:0;
    padding:0;
}
/*
 *  左浮动
 */
.left{
    float:left;
}
/*
 *  右浮动
 */
.right{
    float:right;
}
/*
 *  清除页面浮动
 */
.clear{
    zoom:1;
}
.clear:after{
    content:"";
    display:block;
    clear:both;
}
/*
 *  清除li的默认样式
 */
li{
    list-style:none;
}
/*
 *  页面的一个主题宽度
 */
.wrapper{
    width: 962px;
    padding: 0 19px;
    background: #FFF;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
}
/*
 *  取消默认a的样式
 */
a{
    text-decoration:none;
}
a:visited,
a:link{
    outline: none;
}
/* ==========================================================================
   页面的公共样式部分end
   ========================================================================== */
/*


/* ==========================================================================
   头部包括导航的公共样式部分start
   ========================================================================== */
/*

/*
 *body背景
 */
body{
    background:url('../images/body_bg.gif') repeat;
}

/*
 *header头部样式
 */
.header{
    height:220px;
    background:url('../images/header_bg.png') no-repeat;
}
.header .header_logo{
    width:573px;
    height:73px;
    background:url('../images/header_logo.png') no-repeat;
    margin:80px 70px;
}

/*
 *nav导航栏目
 */
.nav{
    padding-left:220px;
    background:url("../images/fy_nav_bg.gif") no-repeat 100px;
    font-size:14px;
    font-weight:bold;
}
.nav li{
    height:56px;
    padding:0 20px;
    line-height:56px;
}
.nav li a{
    color:#fff;
}
.nav li a.active{
    color:#ddd100;
}
/* ==========================================================================
   头部包括导航的公共样式部分end
   ========================================================================== */
/*

/* ==========================================================================
   底部的公共样式部分start
   ========================================================================== */
/*
 */

.footer{
    height:166px;
    font-size:12px;
    background:url('../images/footer_bg.png') repeat;
    color:#523a2d;
}
.footer .footer_p1{
    padding-left:340px;
    margin-top:40px;
    line-height:20px;
}
.footer .footer_p2{
    padding-left:160px;
    line-height:20px;
}
.footer .footer_p3{
    padding-left:240px;
    line-height:20px;
}
.footer .footer_p4{
    padding-left:340px;
    line-height:20px;
}
.footer .footer_p1 a,
.footer .footer_p2 a,
.footer .footer_p3 a,
.footer .footer_p4 a{
    color:#523a2d;
}

/* ==========================================================================
   底部的公共样式部分end
   ========================================================================== */
/*
 */


/* ==========================================================================
   main列表的公共样式start
   ========================================================================== */
/*

/*
 *main左侧栏目顶部部分
 */
.main{
    margin-top:20px;
    font-size:14px;
}
.main_aside_left{
    width:26%;
    margin-right:4%;
}
.main_aside_left_name{
    width:100%;
    height:45px;
    border-bottom:1px solid #000;
}
/*
 *main左侧栏目顶部部分图标不同样式背景
 */
.main_aside_left_laws{background:url("../images/law.png") no-repeat;}
.main_aside_left_declare{background:url("../images/declare.png") no-repeat;}
.main_aside_left_down{background:url("../images/down.png") no-repeat;}
.main_aside_left_people{background:url("../images/people.png") no-repeat;}
.main_aside_left_inheirt{background:url("../images/inheirt.png") no-repeat;}
.main_aside_left_book{background:url("../images/book.png") no-repeat;}
/*
 *main右侧栏目顶部部分
 */
.main_aside_right{
    width:70%;
}
.main_aside_right_name{
    width:100%;
    height:45px;
    background:url("../images/current.png") no-repeat;
    border-bottom:1px solid #000;
}
.main_aside_right_name span{
    display:inline-block;
    margin:16px 200px;
    font-weight:bold;
    font-size:16px;
}

/*
 *main列表公共部分
 */
.main_aside_left li,.main_aside_right li{
    height:40px;
    border-bottom:1px dashed #c9c9c9;
    line-height:40px;
    background:url("../images/dot.gif") no-repeat 10px;
    padding-left:30px;
}
.main_aside_left li a,.main_aside_right li a{
    color:#000;
}
.main_aside_left li a:hover,.main_aside_right li a:hover{
    font-size:16px;
    color:#f00;
}
/* ==========================================================================
   main列表的公共样式end
   ========================================================================== */
/**/
/*
* 列表标题样式
*/
.main_aside_right_list .main_aside_right_list_title{
    background-color:#807e7f;
    background-image:none;
    color:#fff;
    font-size:16px;
    height:20px;
    line-height:20px;
}
/**/
/*
* 列表更多题样式
*/
.main_aside_right_list .main_aside_right_list_title .main_aside_right_list_title_more{
    color:#fff;
    font-size:16px;
    margin-right:10px;
}
/*
* 列表日期样式
*/
.main_aside_right_list .main_aside_right_list_title_date{
    font-size:14px;
    margin-right:20px;
}
/*
*项目筛选表单
*/
.main_aside_right_list .main_aside_right_list_form{
    background-image:none;
    height:260px;
    margin:10px 20px;
    padding:20px 20px;
    border:1px solid #c0c0c0;
}
.main_aside_right_list .main_aside_right_list_form li{
    background-image:none;
}
.main_aside_right_list_form .main_aside_right_list_form_project input{
    width:400px;
}
.main_aside_right_list_form .main_aside_right_list_form_category{
    height:120px;
}
.main_aside_right_list_form .main_aside_right_list_form_submit{
    border-bottom:none;
    padding-top:10px;
}

/* ==========================================================================
   main右侧传承人，非遗项目样式start
   ========================================================================== */
/*
*/
/*
* 非遗和继承人，内容列表的详情页样式
 */
.main_aside_right_project h2{
    text-align:center;
    color:#69573d;
    margin:10px 0;
}
.main_aside_right_project p{
    line-height:30px;
    color:#7a7a7a;
    font-size:12px;
}
.main_aside_right_project p img{
    width:400px;
    height:265pxi;
    padding:10px 0 10px 100px;
}
.main_aside_right_project a{
    color:#7a7a7a;
}
.main_aside_right_project_list{
    width:80%;
    padding-left:20px;
}
/* ==========================================================================
   main右侧传承人，非遗项目样式end
   ========================================================================== */
/*

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
